$primaryColor: #ffc531;

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}
.title-bar {
	padding: 20px;
	background-color: #efefef;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	&__button {
		padding: 12px;
		background-color: #555555;
		color: #fafafa;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		line-height: 14px;
		border: none;
		transition: opacity 400ms linear;
		cursor: pointer;
		text-transform: uppercase;
		letter-spacing: 0.03em;
		&:hover {
			opacity: 75%;
		}
	}
}

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

#products {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	margin: auto;
	padding: 20px;
	max-width: 800px;
	#empty {
		width: calc(100% - 40px);
		border: 1px dashed $primaryColor;
		margin-top: 5%;
		display: flex;
		padding: 20px;
		text-align: center;
		align-items: center;
		justify-content: center;
		height: 50vh;
		font-size: 1.2rem;
	}
	@media (max-width: 550px) {
		flex-direction: column;
		align-items: center;
	}
	@media (max-width: 320px) {
		flex-direction: column;
		align-items: stretch;
	}
}

.product {
	border: 1px solid $primaryColor;
	padding: 10px;
	position: relative;
	flex-basis: 20%;
	.tag {
		position: absolute;
		text-transform: uppercase;
		font-size: 0.95rem;
		background: $primaryColor;
		padding: 8px;
		left: 0;
		top: 25px;
	}
	.title {
		margin-top: 15px;
	}
	b {
		display: block;
		padding: 13px 0;
	}
	.image img {
		max-width: 220px;
		margin: auto;
		aspect-ratio: 1/1.1;
		object-fit: cover;
		@media (max-width: 320px) {
			width: 100%;
		}
	}
	button {
		display: inline-flex;
		align-items: center;
		border: none;
		background: $primaryColor;
		padding: 10px;
		left: 0;
		font-weight: bold;
		top: 20px;
		cursor: pointer;
		img {
			width: 20px;
			height: 7px;
			margin-left: 10px;
		}
	}
}

#spinner {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 5px solid $primaryColor;
	border-bottom-color: transparent;
	position: relative;
	animation: spinner 1s linear infinite paused;
	-webkit-animation: spinner 1s linear infinite;
}
@keyframes spinner {
	to {
		transform: rotate(1turn);
		-webkit-transform: rotate(1turn);
		-moz-transform: rotate(1turn);
		-ms-transform: rotate(1turn);
		-o-transform: rotate(1turn);
	}
}
